.checkGroup {
	border-top: 1px solid #ccc;
	padding: .04rem 0;
	.nameWrap {
		cursor: pointer;
		.name {
			padding-left: 8px;
		}
	}
	.checkGroupItem {
		padding: .04rem 0;
		display: flex;
		justify-content: space-between;
		.iconDanger {
			color: #DE3B4F;
		}
	}
}
.drawer {
	overflow: auto;
	.title {
		display: flex;
		align-items: center;
	}
	.search {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: .2rem;
		.input {
			width: 3rem;
		}
	}
	.drawerFooter {
		position: absolute;
		bottom: .4rem;
		button + button {
			margin-left: .2rem;
		}
	}
}
.drawerTab3 {
	display: flex;
	height: 100%;
	padding-left: .3rem;
	.list {
		background: #fff;
		width: 2.2rem;
		.title {
			border-bottom: 1px solid rgba(151, 151, 151, .3);
			font-size: .16rem;
			font-weight: bold;
			line-height: .6rem;
			/*margin-left: .3rem;*/
		}
		.listItem {
			/*text-indent: .3rem;*/
			line-height: .38rem;
			font-size: .14rem;
		}
	}
	.own {
		background: #F7F7F7;
		height: .44rem;
		line-height: .44rem;
		margin-left: -.3rem;
		padding-left: .3rem;
		.title {
			line-height: .44rem;
			font-size: .16rem;
		}
		.icon {
			margin-left: .16rem;
			cursor: pointer;
			color: #5B7FDF;
		}
	}
	.btnClose {
		position: absolute;
		bottom: .3rem;
	}
	.content {
		background: #fff;
		border-left: .1rem solid #F7F7F7;
		flex: 1;
		margin-left: .1rem;
	}
}
.filling {
	height: 100%;
	position: relative;
	.tabs {
		display: flex;
		padding: .1rem .2rem .2rem;
		flex-direction: column;
		justify-content: flex-start;
		.flexColumn {
			display: flex;
			align-items: center;
			label {
				margin-right: .2rem;
			}
		}
		.flexRow {
			display: flex;
			flex-direction: column;
		}
		.alignTop {
			align-items: flex-start;
			label {
				margin-bottom: .1rem;
			}
		}
		.selectArea {
			.select {
				padding: 0 .2rem;
			}
		}
	}
	.btnGroup {
		position: absolute;
		left: 50%;
		bottom: .2rem;
		transform: translateX(-50%);
		button + button {
			margin-left: .2rem;
		}
	}
}