#header {
  align-items: center;
  background: #fff;
	display: flex;
  padding: .18rem .2rem;
  width: 100%;
}
#logo {
  width: .2rem;
  height: .24rem;
  margin-right: .1rem;
}
.brandName {
	font-size: .18rem;
	line-height: .24rem;
}